body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.search-container {
    margin-top: 20px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.meal-card {
    width: 200px;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.meal-card img {
    max-width: 100%;
    height: auto;
}
